<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>王者荣耀租号</title>
</head>
<body>
    <table border="1" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>英雄</th>
                <th>皮肤</th>
                <th>信誉分</th>
                <th>id</th>
                <th>区服</th>
                <th>段位</th>
                <th>等级</th>
            </tr>
        </thead>
        <tbody>
            {% for each in data %}
            <tr>
                <td>{{each[0]}}</td>
                <td>{{each[1]}}</td>
                <td>{{each[2]}}</td>
                <td>{{each[3]}}</td>
                <td>{{each[4]}}</td>
                <td>{{each[5]}}</td>
                <td>{{each[6]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>